{{define "lobby-create-page"}}
<!DOCTYPE html>
<html lang="{{.Locale}}">

<head>
    <title>Scribble.rs</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "non-static-css-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css" />
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/lobby_create.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    {{template "favicon-decl" .}}
</head>

<body>
    <style>
        body {
            background-color: #badeb8;
        }

        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/resources/background.png');
            background-size: 400px 400px;
            background-repeat: repeat;
            opacity: 0.2;
            z-index: -1;
        }

        .content {
            max-width: 1000px;
            margin: auto;
        }
    </style>

    <div class="content">
        <img id="logo" src="{{.RootPath}}/resources/logo.svg">

        <div class="card">
            <div class="card-header d-flex" style="justify-content: space-between;">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Join user</a>
                    </li>
                    <li class="nav-item">
                        <a href="/lobbies" class="nav-link active">{{.Translation.Get "create-lobby"}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings" class="nav-link">Mods & Bans</a>
                    </li>
                </ul>
                {{ if .User }}
                    <div class="dropdown" style="align-self: center">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">{{.User.Name}}</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="/logout" class="dropdown-item">Logout</a>
                            </li>
                        </ul>
                    </div>
                {{ end }}
            </div>
            <div class="card-body">
                {{if .Errors}}
                    <div class="alert alert-danger">
                        {{.Translation.Get "input-contains-invalid-data"}}
                        <ul>
                            {{range .Errors}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                        <br />
                        {{.Translation.Get "please-fix-invalid-input"}}
                    </div>
                {{end}}

                <form action="{{.RootPath}}/lobbies" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="input-work-language" class="form-label">{{.Translation.Get "word-language"}}</label>
                            <select id="input-work-language" class="form-select" name="language" placeholder="Choose your language">
                                {{$language := .Language}}
                                {{range $k, $v := .Languages}}
                                    <option value="{{$k}}" {{if eq $k $language}}selected="selected" {{end}}>{{$v}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="col">
                            <label for="input-drawing-time" class="form-label">{{.Translation.Get "drawing-time-setting"}}</label>
                            <input id="input-drawing-time" class="form-control" type="number" name="drawing_time" min="{{.MinDrawingTime}}"
                                   max="{{.MaxDrawingTime}}" value="{{.DrawingTime}}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="input-rounds" class="form-label">{{.Translation.Get "rounds-setting"}}</label>
                            <input id="input-rounds" class="form-control" type="number" name="rounds" min="{{.MinRounds}}" max="{{.MaxRounds}}"
                                   value="{{.Rounds}}" />
                        </div>
                        <div class="col">
                            <label for="input-max-players" class="form-label">{{.Translation.Get "max-players-setting"}}</label>
                            <input id="input-max-players" class="form-control" type="number" name="max_players" min="{{.MinMaxPlayers}}"
                                   max="{{.MaxMaxPlayers}}" value="{{.MaxPlayers}}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="input-custom-words" class="form-label">{{.Translation.Get "custom-words"}}</label>
                            <textarea id="input-custom-words" class="form-control" name="custom_words"
                                      placeholder="{{.Translation.Get "custom-words-info"}}">{{.CustomWords}}</textarea>
                        </div>
                        <div class="col">
                            <label for="input-custom-words-chance" class="form-label">{{.Translation.Get "custom-words-chance-setting"}}</label>
                            <input id="input-custom-words-chance" class="form-range" name="custom_words_chance" type="range" min="1" max="100"
                                   value="{{.CustomWordsChance}}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input id="input-public-lobby" class="form-check-input" type="checkbox" name="public" value="true"
                                   {{if eq .Public "true"}}checked{{end}} />
                            <label for="input-public-lobby" class="form-check-label">{{.Translation.Get "public-lobby-setting"}}</label>
                        </div>
                        <div class="col">
                            <input id="input-followers-only" class="form-check-input" type="checkbox" name="followers_only" value="true"
                                   {{if eq .Public "true"}}checked{{end}} />
                            <label for="input-followers-only" class="form-check-label">{{.Translation.Get "followers-only-setting"}}</label>
                        </div>
                        <div class="col">
                            <input id="input-subs-only" class="form-check-input" type="checkbox" name="subs_only" value="true"
                                   {{if eq .Public "true"}}checked{{end}} />
                            <label for="input-subs-only" class="form-check-label">{{.Translation.Get "subs-only-setting"}}</label>
                        </div>
                    </div>
                    <div class="d-grid col-6 mx-auto">
                        <button type="submit" class="btn btn-primary">
                            {{.Translation.Get "create-lobby"}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
{{end}}
