{{define "login-page"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scribble.rs - Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0">
    {{template "non-static-css-decl" .}}
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/base.css" />
    <link rel="stylesheet" type="text/css" href="{{.RootPath}}/resources/login.css" />
    {{template "favicon-decl" .}}
</head>

<body>
    <div class="content-wrapper">
        <img id="logo" src="{{.RootPath}}/resources/logo.svg">

        <div class="login-pane-wrapper">
            <div class="login-pane">
                <h1 class="login-title">{{.Translation.Get "login-required"}}</h1>
                <p class="login-hint">{{.Translation.Get "login-required-hint"}}</p>
                <a class="twitch-login-button" href="{{.TwitchLoginURI}}">
                    <img src="{{.RootPath}}/resources/TwitchGlitchWhite.svg">
                    <span>{{.Translation.Get "login-with-twitch"}}</span>
                </a>
            </div>
        </div>
        {{template "footer" .}}
    </div>
</body>

</html>
{{end}}
